body{
justify-content: center;
height: 100vh;
display: flex;
align-items: center;
margin:0;
background-color:Red;
}

/*--------------------------------------------------------------------------------------*/
#null1{
width:10px;
}

.container{
         height:60%;
    width: 30%;
background-color:white;
    border:black 2px bold;
   opacity:0.5;
}

#pannel1{
    display:flex;
    z-index: 2;
      top:80%;
      left:50%;
 
    background-color:white;
    border:black 2px bold;

}
#button1{
    display:flex;
    z-index: 2;
      top:80%;
      left:50%;
    transform:translate(50%,50%);
}
