body{
justify-content: center;
height: 100vh;
display: flex;
align-items: center;
margin:0;
background-color:Red;
}

/*--------------------------------------------------------------------------------------*/
#null1{
width:10px;
}
#pannel1{
    z-index: 2;
      bottom:30%;
      left:50%;
    heigth:50vh;
    width: 50%;
    opacity:0.5;
    background-color:white;
    border:black 2px bold;
}
