body{
justify-content: center;
height: 100vh;
display: flex;
align-items: center;
margin:0;
background-color:Red;
}

/*--------------------------------------------------------------------------------------*/
#null1{
width:100px;
}
#pannel1{
    z-index: 2;
    heigth:300%;
    width: 100%;
    opacity:0.5;
    background-color:white;
    border:black 2px bold;
}
